/* ==========================================================================
Navgation
=========================================================================== */

/* --------------------------------------------------------------------------
Nav Variables
-------------------------------------------------------------------------- */
$nav-bg: #2D3B88;
$nav-color-text:  rgba(255,255,255, .70);
$nav-color-link: rgba(255,255,255, 1);
$nav-color-hover: rgba(255,255,255, 0.70);
$nav-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.18);

$nav-font-size: 0.8rem;

$trans: all 0.5s ease;

/* --------------------------------------------------------------------------
Nav Styles
-------------------------------------------------------------------------- */
/* ------------------ http://codepen.io/team/css-tricks/pen/YqaKYR ------------ */
.navigation {
  list-style: none;
  margin: 0;

  background: deepskyblue;

  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-end;

  transition: $trans;

  a {
	color: $nav-color-link;
	font-size: $nav-font-size;
	text-transform: uppercase;
	text-decoration: none;

    display: block;
    padding: 1em;
  }

  a:hover {
    background: darken(deepskyblue, 2%);
  }
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;

    a {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    li:last-of-type a {
      border-bottom: none;
    }
  }
}

/*
<ul class="navigation">
<li><a href="#">Home</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Products</a></li>
<li><a href="#">Contact</a></li>
</ul>
*/
nav {
  background: $nav-bg;
  padding: 0;
  margin: 0;
  box-shadow: $nav-box-shadow;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    transition: $trans;
    display: inline-block;
  }


  a:link, a:visited {
    color: $nav-color-link;
    font-size: $nav-font-size;
    text-transform: uppercase;
    display: block;
    padding: 0;
    margin: 0;
    text-decoration: none;
    transition: $trans;
  }

  a:hover, a:focus {
    color: $nav-color-hover;
    transition: $trans;
    }
}
////////////////////////////////////////////////////////////
.navbar-brand {
  margin-left: .5rem;
  color: $nav-color-text;
  float: left;
  padding-top: .3rem;
  padding-bottom: .25rem;
  margin-right: 1rem;

  a:link, a:visited, a:hover, a:active {
    border-bottom: none;
    text-transform: capitalize;
    text-decoration: none;
  }

  p {
	color: white;
	font-size: 1.3rem;
	padding: 0;
	margin: 0;
  }

  h1 {
	color: white;
	font-size: 1.3rem;
	padding: 0;
	margin: 0;
  }
  span {
    color: $nav-color-text;
  }
}
////////////////////////////////////////////////////////////
.navbar-nav .nav-link {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; /*centers it vertically*/
}

.navbar {
    padding: 0;
  	margin: 0;
}

.navbar-nav .nav-item {
  float: none;

  a:link, a:visited {
    border-bottom: 1px dotted $nav-color-link;
  }

  a:hover, a:focus {
    border-bottom: 1px solid $nav-color-hover;
  }
}
////////////////////////////////////////////////////////////