/* ==========================================================================
 Base Styles
========================================================================== */
/* --------------------------------------------------------------------------
Body / Default Styles
-------------------------------------------------------------------------- */
@import url("http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic|Material+Icons");
/* ---------------------------------------------------------------------------
 HTML / BODY ELEMENTS
-------------------------------------------------------------------------- */
html,
body {
  position: relative;
  height: 100%;
  min-height: 100%;
  background: transparent;
  font: normal 1rem/1.5rem Roboto, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility; }

h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.87); }

a:link, a:visited, a:hover, a:focus {
  text-decoration: none; }

h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: rgba(0, 0, 0, 0.7); }

img {
  max-width: 100%;
  border: 0; }

.blockquote {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.7);
  border: none;
  padding: 0; }

.blockquote-footer {
  margin: 1rem 0 0; }

/*-------------------------------------------------------------------
 Stage
------------------------------------------------------------------- */
#stage {
  background: linear-gradient(to bottom, #22557b 0%, rgba(31, 126, 154, 0.54) 100%), url("../img/stage-image.jpg");
  background-size: cover;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center; }

.stage-caption {
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0 auto;
  text-align: center; }
  .stage-caption h1 {
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 4rem;
    margin-top: 50px; }
  .stage-caption h3 {
    font-size: 1.4rem;
    color: white;
    font-weight: 500;
    padding-bottom: .8rem; }

.card-section.mdl-card {
  width: 95%;
  height: inherit;
  align-items: center;
  display: flex; }

.card-section .mdl-card__title {
  color: white;
  width: 100%;
  height: 150px;
  background: #3f51b5;
  align-self: center;
  /* centers vertically */
  display: flex;
  text-align: center; }
.card-section .mdl-card__supporting-text {
  color: rgba(0, 0, 0, 0.87);
  height: 200px; }
.card-section .mdl-card__menu {
  color: white; }

.section-spacing {
  padding: 8rem 0;
  overflow: hidden; }
  .section-spacing img {
    margin-bottom: -8rem; }

.section-center {
  display: flex;
  align-items: center;
  /*centers it vertically*/ }
  .section-center img {
    position: relative;
    margin: 0 auto;
    /*centers it horizontially*/ }

.section-dark {
  background: #1f2a43;
  color: white; }
  .section-dark h6 {
    color: rgba(255, 255, 255, 0.7); }
  .section-dark h2 {
    color: white; }

.section-alt {
  background: rgba(0, 0, 0, 0.05); }

.section-content {
  display: flex;
  align-items: center; }

#section-four .section-content {
  padding: 0; }

#section-five img {
  margin-top: 2rem; }

#footer {
  background: #2D3B88;
  color: rgba(255, 255, 255, 0.7);
  padding: .6rem 0;
  font-size: 0.6rem;
  text-align: right; }
  #footer hr {
    margin: 0;
    padding: 0;
    border-top: 1px solid #0B92F9; }
  #footer h5 {
    padding: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.8rem; }
    #footer h5 a {
      color: rgba(255, 255, 255, 0.87);
      font-size: 0.8rem; }
  #footer h6 {
    padding-top: .4rem;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.6rem; }
    #footer h6 a {
      color: rgba(255, 255, 255, 0.87);
      font-size: 0.5rem; }

/*# sourceMappingURL=base.css.map */
