//##################  MDL Buttons ####################

$button-blue: rgb(63, 81, 181);
$button-blue-hover: rgb(47, 60, 132);

$button-lightblue: rgb(91, 192, 222);
$button-lightblue-hover: rgb(54, 115, 134);

$button-orange: rgb(245, 136, 10);
$button-orange-hover: rgb(190, 110, 23);



.mdl-button--raised--light {
  box-shadow: 0 0 4px rgb(249, 251, 251), 0 1px 4px rgb(148, 152, 162);
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.14), 0 3px 1px -2px rgba(255, 255, 255, 0.2), 0 1px 5px 0 rgba(255, 255, 255, 0.12);
}

.mdl-button::-moz-focus-inner {
  border: 0; }

.mdl-button:hover {
  background-color: rgba(158, 158, 158, 0.2);
}

.mdl-button:focus:not(:active) {
  background-color: rgba(0, 0, 0, 0.12); }

.mdl-button:active {
  background-color: rgba(158, 158, 158, 0.4); }

.mdl-button.mdl-button--colored {
  color: $button-blue;
}

.mdl-button.mdl-button--colored:focus:not(:active) {
  background-color: rgba(0, 0, 0, 0.12); }

input.mdl-button[type="submit"] {
  -webkit-appearance: none; }

//.mdl-button--raised {
//  background: rgba(158, 158, 158, 0.2);
//  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.mdl-button--raised {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
  background-color: rgba(158, 158, 158, 0.4); }

.mdl-button--raised:active {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  background-color: rgba(158, 158, 158, 0.4); }

.mdl-button--raised:focus:not(:active) {
  background: rgba(158, 158, 158, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

//Raised Light Button Shadows
.mdl-button--raised--light {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
  background-color: rgba(158, 158, 158, 0.4); }

.mdl-button--raised--light:active {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  background-color: rgba(158, 158, 158, 0.4); }

.mdl-button--raised--light:focus:not(:active) {
  background: rgba(158, 158, 158, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }







.mdl-button--raised.mdl-button--colored {
  background: $button-blue;
  color: white;
}

.mdl-button--raised.mdl-button--colored:hover {
  background: $button-blue-hover;
}

.mdl-button--raised.mdl-button--colored:active {
  background-color: $button-blue }

.mdl-button--raised.mdl-button--colored:focus:not(:active) {
  background-color: $button-blue; }

.mdl-button--raised.mdl-button--colored .mdl-ripple {
  background: white; }

.mdl-button[disabled] .mdl-button__ripple-container .mdl-ripple,
.mdl-button.mdl-button--disabled .mdl-button__ripple-container .mdl-ripple {
  background-color: transparent; }

//.mdl-button--primary.mdl-button--primary {
//  color: $button-blue; }
//
//.mdl-button--primary.mdl-button--primary .mdl-ripple {
//  background: white; }
//
//.mdl-button--primary.mdl-button--primary.mdl-button--raised, .mdl-button--primary.mdl-button--primary.mdl-button--fab {
//  color: white;
//  background-color: $button-blue; }
//
//.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
//  color: white;
//  background-color: $button-lightblue;
//}

.mdl-button--accent.mdl-button--accent {
  background-color: $button-lightblue;
  color: white;}

.mdl-button--raised.mdl-button--accent:hover {
  background: $button-lightblue-hover; }

.mdl-button--raised.mdl-button--accent:active {
  background-color: $button-lightblue; }

.mdl-button--raised.mdl-button--accent:focus:not(:active) {
  background-color: $button-lightblue; }

//.mdl-button[disabled][disabled], .mdl-button.mdl-button--disabled.mdl-button--disabled {
//  color: rgba(0, 0, 0, 0.26);
//  cursor: default;
//  background-color: transparent; }
//
//.mdl-button--fab[disabled][disabled], .mdl-button--fab.mdl-button--disabled.mdl-button--disabled {
//  background-color: rgba(0, 0, 0, 0.12);
//  color: rgba(0, 0, 0, 0.26); }
//
//.mdl-button--raised[disabled][disabled], .mdl-button--raised.mdl-button--disabled.mdl-button--disabled {
//  background-color: rgba(0, 0, 0, 0.12);
//  color: rgba(0, 0, 0, 0.26);
//  box-shadow: none; }
//
//.mdl-button--colored[disabled][disabled], .mdl-button--colored.mdl-button--disabled.mdl-button--disabled {
//  color: rgba(0, 0, 0, 0.26); }
//
//.mdl-button .material-icons {
//  vertical-align: middle; }

.mdl-button--raised.mdl-button--orange {
  background: $button-orange;
  color: white;
  text-shadow: 0 0 2px rgb(0, 0, 0);
}

.mdl-button--raised.mdl-button--orange:hover {
  background: $button-orange-hover; }

.mdl-button--raised.mdl-button--orange:active {
  background-color: $button-orange; }

.mdl-button--raised.mdl-button--orange:focus:not(:active) {
  background-color: $button-orange; }

.mdl-button--raised.mdl-button--orange .mdl-ripple {
  background: white; }

//.mdl-button--raised {
//  background: rgba(0, 0, 0, 0.14);
//  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.54), 0 1px 5px 0 rgba(0, 0, 0, 0.87);  }

.mdl-button--raised--light.mdl-button--orange {
  background: $button-orange;
  color: white;
}

.mdl-button--raised--light.mdl-button--orange:hover {
  background: $button-orange-hover; }

.mdl-button--raised--light.mdl-button--orange:active {
  background-color: $button-orange; }

.mdl-button--raised--light.mdl-button--orange:focus:not(:active) {
  background-color: $button-orange; }

.mdl-button--raised--light.mdl-button--orange .mdl-ripple {
  background: white; }



.mdl-button-lg {
  background: transparent;
  border: none;
  color: black;
  border-radius: 3px;
  position: relative;
  height: 36px;
  margin: 8px;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}

.mdl-button-cta {
  background: transparent;
  border: none;
  color: black;
  border-radius: 5px;
  position: relative;
  height: 75px;
  margin: 8px;
  min-width: 64px;
  padding: 0 50px;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: text-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), text-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}

.mdl-cta--raised {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
  background-color: rgb(22, 119, 198);
}


.btn {
  appearance: none;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-radius: .2rem;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  font-style: normal;
  height: auto;
  line-height: 2rem;
  min-height: 2rem;
  padding: .5rem 1rem;
  text-decoration: none;
  -webkit-transition: box-shadow 0.2s ease, background-color 0.2s ease;
  -moz-transition: box-shadow 0.2s ease, background-color 0.2s ease;
  -o-transition: box-shadow 0.2s ease, background-color 0.2s ease;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
  white-space: nowrap;
  background-color: transparent;
}

.btn:hover {
  background-color: #e6e6e6;
  color: #404040;
}
a:hover {
  color: #1e5ac1;
}
// x, y (+ moves left and up fyi), blur, blur distance (optional), color
.raise-2, .raise-hover-2:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.18824);
  -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.18824);
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.18824);
  z-index: 200;
}
.right {
  float: right;
}
.caps {
  text-transform: uppercase;
  letter-spacing: .2em;
}
a {
  color: #3372df;
  text-decoration: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
